{% extends 'layout.html.twig' %}

{% block body_id 'about' %}
{% block title %}About us{% endblock %}

{% block contents %}
<div class="span9">
    <h2>Our mission</h2>

    <p class="quote">&laquo; Make self-publising as easy as it should be &raquo;</p>

    <h2>Our vision</h2>

    <p class="quote">&laquo; In a few years, millions of people will self-publish contents &raquo;</p>

    <h3>Bets supporting our vision</h3>

    <ul>
        <li>
            <strong>Disruptive shift</strong>: paper books will no longer exist in a
            few years, but e-book publishing might explode. This is the same scenario
            as digital photography: people now take more photographs than ever, but
            film cameras have disappeared.
        </li>
        <li>
            <strong>Democratized writing</strong>: thanks to the new book formats and
            the negligible distribution costs for digital books, anyone can write and
            publish a book. This is the same scenario as blogs: professional journalism
            remains, but millions of <em>"non-professional journalists"</em> have been added.
        </li>
        <li>
            <strong>Self-publishing</strong>: editors, publishers and many other
            writing-related professionals will be no longer required. People will
            publish their books with self-publishing platforms. This is the same
            scenario as music: record labels and companies are no longer necessary
            because musicians self-publish their music.
        </li>
    </ul>

    <h2>Our principles</h2>

    <ol>
        <li>Done is better than perfect.</li>
        <li>Applications should always run blazing-fast.</li>
        <li>Make it really easy to use and stop blaming the users.</li>
        <li>Projects are as good as their documentation.</li>
        <li>Applications are a means to an end, not an end in themselves.</li>
        <li>Listen to your users, but don't be afraid to say no.</li>
    </ol>

    <h2>Our history</h2>

    <p><strong>easybook</strong> originated out of the frustration I experienced
    several years ago while using DocBook to publish technical documentation. I
    couldn't believe that people were satisfied with tools as slow and complex
    as that.</p>

    <p><code>easybook 1.0</code> wasn't a full-featured publishing tool, but a bunch
    of PHP scripts to generate HTML static websites from Markdown contents. Years passed
    and thanks to Symfony 1, I improved those PHP scripts turning them into a generic
    purpose publishing tool. <code>easybook 2.0</code> and <code>easybook 3.0</code>
    were born and they allowed me to pubish PDF documents.</p>

    <p>I published my <a href="http://symfony.es/libro">Symfony2 book</a>
    using <code>easybook 3.0</code>. I received a very positive feedback and a ton of
    questions about the software used to publish the book. That was the tipping point
    in the history of <strong>easybook</strong>.</p>

    <p>I realized that there was a big need for a tool like this and <code>easybook 4.0</code>
    was born. This was the first public version of <strong>easybook</strong> and it was
    a complete refactorization of <code>easybook 3.0</code>. Its source code
    follows all the sensible best-practices I know and I'm really proud about the
    quality of the application.</p>

    <h2>Our company</h2>

    <p><strong>easybook</strong> is a project developed by <a href="http://javiereguiluz.com">Javier Eguiluz</a>, a programmer and entrepreneur resident in the charming city of
    <a href="http://www.vitoria-gasteiz.org/">Vitoria-Gasteiz</a> (Spain).
    Feel free to contact me through any of the communication channels detailed at the
    <a href="{{ path('contact') }}">contact page</a>.</p>

    <h2>Press</h2>

    <h3>Press images <small>(click to enlarge)</small></h3>

    <div class="row">
        <div class="span4">
            <a href="/images/logo.png"><img src="/images/thumb_logo.png" /></a>
            <p>Logo (PNG, 57 KB)</p>
        </div>
        <div class="span4">
            <a href="/images/homepage.png"><img src="/images/thumb_homepage.png" /></a>
            <p>Homepage (PNG, 280 KB)</p>
        </div>
        <div class="span4">
        </div>
    </div>

    <h3>Press inquiries</h3>

    <p>We love to talk about e-books, self-publishing, programming, PHP, Symfony,
    and many other topics. Please, send your inquiries and interview
    requests at <strong>javier.eguiluz@gmail.com</strong></p>
</div>
{% endblock %}
