{% extends 'layout.html.twig' %}

{% block body_id 'contact' %}
{% block title %}Contact{% endblock %}

{% block contents %}
<div class="span12">
    <h2>Business inquiries</h2>
    <p><a href="http://www.linkedin.com/in/javiereguiluz">linkedin &rarr; Javier Eguiluz</a></p>
        
    <h2>Bug reports &amp; suggestions</h2>
    <p><a href="http://github.com/javiereguiluz/easybook/issues">github &rarr; easybook &rarr; issues</a></p>
        
    <h2>Everything else <small>(please, keep emails short)</small></h2>
    <p><a href="mailto:javier.eguiluz@gmail.com">javier.eguiluz@gmail.com</a></p>
</div>
{% endblock %}